@model WashingCarDBJosue.DAL.Entities.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Estado de su servicio</h1>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberPlate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar</a>
    <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
</div>
